:root {
    --back: #19181F;
    --details: #8b5cf6;

    --fonte-principal: "Poppins", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--fonte-principal);
    box-sizing: border-box;
}
body{
    text-align: justify;
    color: #fff;
    background: var(--back);
    line-height: 45px;
}

header{
    text-align: center;
    padding: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

button{
    padding: 16px 24px;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 12px;
    
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1em;
    line-height: 125%;
}

/*#toolbar{
    background: none;
    width: 10px;
    height: 10px;
}*/

nav > .menu > a{
    text-decoration: none;
    color: #fff;
    padding: 0px 50px;
}

nav > a:hover{
    text-decoration: underline;
}

.menu{
    display: inline-block;
}

.menu:hover{
    background-color: var(--details);
}

nav > a:visited{
    color: #fff;
}

#icomenu{
    width: 30px;
    height: 30px;
}

main{
    margin: auto;
    min-width: 320px;
    max-width: 850px;
}

#first{
    font-size: 3em;
    margin-bottom: 20px;
}

#last{
    font-size: 3em;
    margin-bottom: 20px;
}

h2{
    margin-top: 20px;
}

#ptop{
    font-size: 20px;
}

img{
    width: 100%;
}

#dan{
    display: flex;
    justify-content: center;
    margin: 25px 0px;
}

#irina{
    display: flex;
    justify-content: center;
    margin: 25px 0px;
}

#droid{
    display: flex;
    justify-content: center;
    margin: 25px 0px;
}

#vidro{
    display: flex;
    justify-content: center;
    margin: 25px 0px;
}

#list {
    background: var(--details);
    padding: 8px 15px 2px 15px;
    border-radius: 15px 15px 0 0;
}

section {
    padding: 15px;
    background: #0f0f0f;
    border-radius: 0 0 15px 15px;
}

ul{
    columns: 2;
    list-style-type: none;
}

footer {
    margin-top: 300px;
    background: var(--details);
    padding: 30px;
}

footer > p{
    text-align: center;
}

@media (max-width: 1329px){
    #first{
        display: block;
        font-size: 22px;
    }

    button > nav > div.menu{
        display: none;
    }

    .menu{
        display: block;
        width: 100%;
    }

    #last{
        font-size: 28px;
    }

    main{
        margin: 0 25px;
    }
}